.releaseTitle {
  margin: 0;
  grid-area: releaseTitle;
  justify-self: start;
  align-self: start;
}

.releaseDate {
  margin: 0;
  grid-area: releaseDate;
  justify-self: end;
  align-self: start;
}

.releaseDate,
.releaseTitle {
  font-size: 25px;
}

.releaseImg {
  grid-area: releaseImg;
  width: 85%;
  margin: auto;
}

.releaseInfo {
  grid-area: releaseInfo;
  align-self: start;
}

.releaseSC {
  grid-area: releaseSC;
}

.releaseGrid {
  width: 80vw;
  margin: 80px auto auto auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "releaseImg releaseTitle releaseDate"
    "releaseImg releaseInfo releaseInfo"
    "releaseSC releaseSC releaseSC";
}

@media screen and (max-width: 992px) {
  .releaseGrid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "releaseTitle"
      "releaseDate"
      "releaseImg"
      "releaseInfo"
      "releaseSC";
  }
  .releaseTitle {
    justify-self: center;
    align-self: center;
  }

  .releaseDate {
    justify-self: center;
    align-self: center;
    margin-bottom: 30px;
  }
}
